<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="burger-image text-center">
            {{!-- This starts off at Public because of the config within the server.js file of public --}}
            <img src="/assets/img/burger.png">
        </div>
        <h2 class="title text-center">Eat The Burger!</h2>
        <div class="row">
            <div class="col-6 to-be-eaten">
                <h3 class="text-center">Burgers to be Eaten:</h3>
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li>
                        {{burger_name}}

                        <button class="eat btn btn-success btn-sm" data-id="{{this.id}}">
                            Consume!
                        </button>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-6 devoured">
                <h3 class="text-center">Burgers Eaten:</h3>
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <li>
                        {{burger_name}}
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <h3 class="text-center submit-info">Enter a new burger to be eaten</h3>
        <textarea name="burger-input" id="burger-input" cols="30" rows="10"></textarea>
        <br>
        <button class="submit btn btn-primary">Submit</button>
        <p class="instructions text-center">Enter the burger you would like to eat and press submit</p>
        <p class="instructions text-center">Press devour to move the burger over to the eaten column</p>
    </div>
    <div class="col-2"></div>
</div>